
.c::after {
  content: "";
  clear: both;
  display: table;
}
.a-img img{
  width: 120px;
  height: auto;
  margin-right: 1em;
}
.a-img img[lazy=loading]{
  max-height: 200px;
}
.a-img .dummy{
  max-height: 200px;
}
.a-title{
  margin: .5em 0 1em;
  font-size: 1.3rem;
  font-weight: 500;
  color: #e33637;
}
.a-wrap{
  margin-bottom: 1em;
}
.a-flex{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1em;
}
.a-author, .a-pub{
  color: #ccc;
  font-size: .9rem;
}
.a-author{
  float: left;
}
.a-pub{
  float: right;
}
.a-content{
  font-size: 1rem;
  color: #6d6565;
  width: 100%;
}
.a-cat{
  color: #e33637;
  background-color: #eee;
  border-radius: 2px;
  padding: 5px;
  line-height: 2.2;
  margin: 0 5px 10px 0;
  font-size: .9rem;
}
