/* You can add global styles to this file, and also import other style files */
body{
  font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  color: #282828;
  font-size: 100%;
  width: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
  color: #e33637;
  text-decoration: none;
}
a:hover{
  color: #e33637;
}
h1{
  margin: 0;
  margin-left: .3em;
  font-size: 1.5rem;
  color: #fff;
}
.header, .footer{
  width: 100%;
  background-color: #e33637;
  color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
}
.header{
  justify-content: space-between;
  height: 60px;
  top: 0;
}
.footer{
  justify-content: center;
  height: 50px;
  font-size: 1rem;
  bottom: 0;
}
.ic{
  fill: #fff;
  margin-right: .3em;
  width: 30px;
  height: 30px;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  border: 0;
  border-bottom: 1px solid #e2d6d6;
  padding: 1em .3em;
}
figure img{
  width: 100%;
  height: auto;
}
figcaption{
  font-style: italic;
  text-align: center;
  color: #ccc;
}
.c::after {
  content: "";
  clear: both;
  display: table;
}
